# dependencies
node_modules/
.pnpm-store/

# env
.env
.env.local
.env.*.local
!.env.example

# build outputs
dist/
build/
.next/
.turbo/
out/

# expo / react native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
ios/
android/

# testing
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# misc
*.pem
*.tsbuildinfo
